@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

body {
  background-color: grey;
}
#stop_watch_container {
  align-self: center;
  background-color: rgb(255, 153, 0);
  margin-left: 10vw;
  margin-right: 10vw;
  padding-bottom: 2vw;
  padding-top: 1vw;
  border-radius: 30px;
  box-shadow: -2px 4px 0px 0px rgba(41, 107, 138, 1);
}

#stop_watch_container .title {
  font-size: 4vw;
  padding-top: 0px;
}
#stop_watch_container .description {
  font-size: 3vw;
}

#stop_watch_container p {
  text-align: center;
  vertical-align: top;
  font-size: large;
  padding: 0;
  position: relative;
  font-family: "Orbitron", sans-serif;
}

.button_container {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  font-size: 20vw;
}

.button_container button {
  padding-left: 1vw;
  padding-right: 1vw;
  margin-left: 10x;
  margin-right: 10px;
  border-radius: 10px;
  box-shadow: -2px 4px 0px 0px rgba(41, 107, 138, 1);
  font-size: 5vw;
}

.button_container button:hover {
  cursor: pointer;
}

.button_container .inactive {
  color: aliceblue;
  opacity: 20%;
}

.counter_container {
  background-color: rgb(37, 158, 158);
  margin-left: 20vw;
  margin-right: 20vw;
  color: antiquewhite;
  font-size: 20px;
}

.counter_container p {
  font-size: 50px;
}

.lap_time_list {
  padding-left: 0;
  list-style: none;
  width: auto;
  height: 12vw;
  text-align: center;
  overflow: auto;
  align-items: center;
  justify-content: center;
  align-self: center;
  font-size: 15px;
  font-family: "Orbitron", sans-serif;
}

# back_button{
  background-color: black ; 
}