#stop_watch_container {
  align-self: center;
  background-color: rgb(255, 153, 0);
  margin: 7.6em;
  padding-bottom: 2em;
  padding-top: 0.2em;
}

#stop_watch_container p {
  text-align: center;
  vertical-align: top;
  padding: 0;
  position: relative;
}

.button_container {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.button_container button {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.counter_container {
  background-color: rgb(37, 158, 158);
  margin-left: 20%;
  margin-right: 20%;
  color: antiquewhite;
}
